<div class="container">
  <div class="popup" *ngIf="showPopup">
  <div class="popup-content">
    <div class="icon">✔️</div>
    <h3>{{ popupMessage }}</h3>
    <p>Redirection vers la liste des activités...</p>
  </div>
</div>
  <div class="card content-box">
    <div class="header-box">
      <h2 class="title">Modifier activité</h2>
    </div>

    <p *ngIf="loading" class="loading-text">Chargement...</p>

    <form *ngIf="!loading" (ngSubmit)="updateActivity()" class="form">
      
      <div class="form-group">
        <label>Nom</label>
        <input
          type="text"
          [(ngModel)]="activity.nom"
          name="nom"
          required
          placeholder="Nom de l'activité"
        />
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea
          [(ngModel)]="activity.description"
          name="description"
          placeholder="Décrivez l'activité..."
        ></textarea>
      </div>

      <div class="form-group">
        <label>Type</label>
        <input
          type="text"
          [(ngModel)]="activity.type"
          name="type"
          placeholder="Ex: Sport, Culture..."
        />
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>Durée</label>
          <input
            type="text"
            [(ngModel)]="activity.duree"
            name="duree"
          />
        </div>

        <div class="form-group">
          <label>Capacité</label>
          <input
            type="number"
            [(ngModel)]="activity.capacite"
            name="capacite"
          />
        </div>
        <div class="form-group">
  <label>Niveau de difficulté</label>
  <select [(ngModel)]="activity.niveauDifficulte" name="niveauDifficulte">
    <option value="">-- Choisir --</option>
    <option value="facile">Facile</option>
    <option value="moyen">Moyen</option>
    <option value="difficile">Difficile</option>
  </select>
</div>

<div class="form-group">
  <label>Tranche d'âge</label>
  <input
    type="text"
    [(ngModel)]="activity.trancheAge"
    name="trancheAge"
    placeholder="Ex: 12-18 ans"
  />
</div>

<div class="form-group">
  <label>Saison</label>
  <select [(ngModel)]="activity.saison" name="saison">
    <option value="">-- Choisir --</option>
    <option value="printemps">Printemps</option>
    <option value="été">Été</option>
    <option value="automne">Automne</option>
    <option value="hiver">Hiver</option>
  </select>
</div>

<div class="form-group">
  <label>Tags</label>
  <input
    type="text"
    [(ngModel)]="tagsInput"
    name="tags"
    placeholder="Ex: sport, nature, aventure"
  />
</div>
      </div>

      <div class="modal-actions">
        <button type="button" class="btn-cancel" (click)="cancel()">Annuler</button>
        <button type="submit" class="btn-save">Enregistrer les modifications</button>
      </div>

    </form>
  </div>
</div>