.layout {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* HEADER */
app-admin-header {
  height: 70px;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 20px;
}
